html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section__label,
.section__form,
.section__header,
.section__title,
.section__list {
  background-color: #ffffff;
  padding: 20px;
  margin: 2px;
}

.section__label {
  font-size: 24px;
  font-weight: bold;
}

.section__form {
  display: flex;
}

@media (max-width: 767px) {
  .section__form {
    flex-wrap: wrap;
  }
}

.section__input {
  flex-grow: 1;
  padding: 10px;
}

.section__btn {
  margin-left: 30px;
  padding: 0 20px;
  color: #ffffff;
  background-color: teal;
  border: none;
}

.section__btn:hover {
  transform: scale(1.04);
  background-color: hsl(180, 100%, 30%);
  transition: 0.15s;
  cursor: pointer;
}

.section__btn:active {
  background-color: hsla(188, 100%, 26%, 0.534);
  transition: background-color 0.05s;
}

@media (max-width: 767px) {
  .section__btn {
    flex-basis: 100%;
    margin: 20px 0;
    padding: 15px;
  }
}

.section__container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.section__header {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.section__list {
  list-style: none;
  padding: 30px 25px;
}

.task__item {
  margin: 12px;
  display: flex;
  align-items: center;
}

.tasks__item--hidden {
  display: none;
}

.list__doneBtn,
.list__removeBtn {
  height: 30px;
  width: 30px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  flex-shrink: 0;
  text-align: center;
}

.list__doneBtn {
  background-color: #197a1e;
}

.list__doneBtn:hover {
  background-color: hsl(123, 66%, 39%);
  transition: 0.15s;
}

.list__task {
  margin: 0;
  flex-basis: 100%;
  padding: 0 15px;
  overflow-wrap: break-word;
}

.list__removeBtn {
  background-color: #ec2539;
}

.list__removeBtn:hover {
  background-color: hsl(354, 84%, 64%);
  transition: 0.15s;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons__button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0 40px;
  color: teal;
  transition: 0.2ss ease-out;
}

.buttons__button:disabled {
  color: rgb(196, 195, 195);
}

.buttons__button:hover {
  color: hsl(180, 100%, 40%);
}

@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons__button {
    flex-basis: 100%;
    margin: 10px 0;
  }
}
